/* Change background and text colors */
body {
    background-color: #334;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #FFFFFF;
}

/* Style headings */
h1 {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

/* Style links */
a {
    color: yellow;
    text-decoration: none;
}
